/vendor/
node_modules/
/.env
/.env.backup
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*
/public/hot
/public/storage
/bootstrap/cache/*
*.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
/.idea
/.vscode
npm-debug.log
yarn-error.log
